
.parallax-container {
    height: 650px;
    background-color:rgba(3,219,254,0.25);

  }

.fill{
    height: 2000px;
    background-color: brown;
}
.logo-header{
    width: 60%;
    position:relative;
    left:21%
}

@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 650px;
        background-color:rgba(3,219,254,0.25);
      }
      .logo-header{
        width: 80%;
        position:relative;
        left:13%;
        top: 16%;
    }
    .cat{
        position:relative;
        left:115% !important; 
    }


     
}

.video {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */

}


.primary--heading {
  display: flex;
  justify-content: center;
  /* letter-spacing: 10px; */
  text-transform: uppercase;
  color: rgb(19, 226, 54);
  /* font-family: 'Special Elite', cursive; */
  font-weight: 700;
  letter-spacing: 3px;
  
}

.imgCuRobert {
  /* border: 5px solid rgb(19, 226, 54); */
  /* border-radius:; */
  /* padding: 10px; */
  box-shadow: greenyellow;
}

.main {
  background-color: rgba(172, 255, 47, 0.178);
  padding: 10px;
}



/* carduri */
.title-carduri{
    /* text-align: center;
    font-family: 'Raleway', sans-serif; */
      font-size: 36px;
     background: -webkit-linear-gradient(right, #00ba28, rgba(253, 254, 253, 0.09));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-family: 'Special Elite', cursive;
     font-weight: bold; 
     letter-spacing: 2px; 
     line-height: 1.5; 
     text-align: center;
     /* padding-top: 50px; */
  

}

.tags {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex; }
  
  .tag-container {
    width: 200px;
    height: 300px;
    margin: 20px;
    position: relative;
    margin-left: 5%;
    -webkit-perspective: 800px;
    perspective: 800px; }
    /* .tag-container:hover .tag {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); } */
  
  .tag {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  
  .tag-side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .tag-side.is-back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      z-index: 2; }
  
  .tag-text {
    width: 100%;
    padding: 0 20px;
    color: #222;
    font: 20px 'Special Elite', cursive;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  
  .tag-1-side:before {
    content: " ";
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  
  .tag-1-side.is-back .tag-1-top:before {
    background: #e44f47; }
  
  .tag-1-side.is-back .tag-1-text {
    background: #e44f47;
    color: #fff; }
  
  .tag-1-top {
    width: 100%;
    margin-top: -35px;
    position: absolute;
    top: 0;
    -webkit-transform: scale(0.775, 0.5) translate3d(0, 0, 0);
    transform: scale(0.775, 0.5) translate3d(0, 0, 0); }
    .tag-1-top:before {
      content: " ";
      background: #ede5d8;
      padding-bottom: 200px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 30px;
      display: block;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  
  .tag-1-text {
    background: #ede5d8;
    margin-top: 65px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  
  .tag-2-side:before,
  .tag-2-side:after {
    content: " ";
    background: rgb(193, 235, 199);
    height: 50px;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    -webkit-transform: skew(-45deg) translate3d(0, 0, 0);
    transform: skew(-45deg) translate3d(0, 0, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; }
  
  .tag-2-side.is-back:before,
  .tag-2-side.is-back:after {
    background: #47ada0; }
  
  .tag-2-side:after {
    -webkit-transform: skew(45deg);
    transform: skew(45deg); }
  
  .tag-2-side.is-back .tag-2-text {
    background: #47ada0; }
    .tag-2-side.is-back .tag-2-text:before {
      border-color: #b6dfde; }
  
  .tag-2-text {
    font-family: 'Sacramento', cursive;
    background: rgb(193, 235, 199);
    margin-top: 50px;
    padding-bottom: 30px; }
    .tag-2-text:before {
      content: " ";
      background: #fff;
      width: 27px;
      height: 27px;
      border: 6px solid #47ada0;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
  
  .tag-3-side {
    margin-top: 20px;
    padding-top: 20px;
    display: -webkit-box;
    display: flex; }
    .tag-3-side:before {
      content: " ";
      background: #e44f47;
      width: 150px;
      height: 100%;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }
    .tag-3-side.is-back:before {
      background: #b6dfde; }
    .tag-3-side.is-back:after {
      border-color: #b6dfde; }
    .tag-3-side.is-back .tag-3-text {
      background: #b6dfde;
      color: #222; }
    .tag-3-side:after {
      content: " ";
      background: #fff;
      width: 45px;
      height: 45px;
      border: 15px solid #e44f47;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
  
  .tag-3-text {
    background: #e44f47;
    width: 100%;
    border-radius: 20px;
    padding-top: 60px;
    color: #fff;
    z-index: 1; }
  

